.themeColor, .wrap a {
    color:#993399;
}
.themeBg, .themeBgImg, #moduleTabs div {
	background-color:#993399;
}
.themeDarkerBg, #moduleTabs .active {
	background-color:#490049;
}
.themeBorder, #moduleTabs div {
	border-color:#CC66CC;
}
.themeBgImg	{
    background-image:url(theme-bg.gif);
}
.header1 {
    background-color:#999;
}
.header1, .header1 th a, .header1 th a:hover {
    color:#fff;
}
.header2 {
    background-color:#D4C0E5; font-size:12px; color:#993399; padding-left:5px
}
